<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ilídio Martins</string>
	<key>CFBundleDisplayName</key>
	<string>Google Ajax Loader</string>
	<key>CFBundleIdentifier</key>
	<string>com.ilidiomartins.googleajaxloader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>GoogleAjaxLoader.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Google Ajax Loader is a extension that adds a ajax loader to the Google ™ pages</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.google.com</string>
				<string>*.google.ac</string>
				<string>*.google.ad</string>
				<string>*.google.ae</string>
				<string>*.google.af</string>
				<string>*.google.ag</string>
				<string>*.google.ai</string>
				<string>*.google.al</string>
				<string>*.google.am</string>
				<string>*.google.an</string>
				<string>*.google.ao</string>
				<string>*.google.aq</string>
				<string>*.google.ar</string>
				<string>*.google.as</string>
				<string>*.google.at</string>
				<string>*.google.au</string>
				<string>*.google.aw</string>
				<string>*.google.az</string>
				<string>*.google.ba</string>
				<string>*.google.bb</string>
				<string>*.google.bd</string>
				<string>*.google.be</string>
				<string>*.google.bf</string>
				<string>*.google.bg</string>
				<string>*.google.bh</string>
				<string>*.google.bi</string>
				<string>*.google.bj</string>
				<string>*.google.bm</string>
				<string>*.google.bn</string>
				<string>*.google.bo</string>
				<string>*.google.br</string>
				<string>*.google.bs</string>
				<string>*.google.bt</string>
				<string>*.google.bv</string>
				<string>*.google.bw</string>
				<string>*.google.by</string>
				<string>*.google.bz</string>
				<string>*.google.ca</string>
				<string>*.google.cc</string>
				<string>*.google.cf</string>
				<string>*.google.cg</string>
				<string>*.google.ch</string>
				<string>*.google.ci</string>
				<string>*.google.ck</string>
				<string>*.google.cl</string>
				<string>*.google.cm</string>
				<string>*.google.cn</string>
				<string>*.google.co</string>
				<string>*.google.cr</string>
				<string>*.google.cs</string>
				<string>*.google.cu</string>
				<string>*.google.cv</string>
				<string>*.google.cx</string>
				<string>*.google.cy</string>
				<string>*.google.cz</string>
				<string>*.google.de</string>
				<string>*.google.dj</string>
				<string>*.google.dk</string>
				<string>*.google.dm</string>
				<string>*.google.do</string>
				<string>*.google.dz</string>
				<string>*.google.ec</string>
				<string>*.google.edu</string>
				<string>*.google.ee</string>
				<string>*.google.eg</string>
				<string>*.google.eh</string>
				<string>*.google.er</string>
				<string>*.google.es</string>
				<string>*.google.et</string>
				<string>*.google.fi</string>
				<string>*.google.fj</string>
				<string>*.google.fk</string>
				<string>*.google.fm</string>
				<string>*.google.fo</string>
				<string>*.google.fr</string>
				<string>*.google.fx</string>
				<string>*.google.ga</string>
				<string>*.google.gb</string>
				<string>*.google.gd</string>
				<string>*.google.ge</string>
				<string>*.google.gf</string>
				<string>*.google.gh</string>
				<string>*.google.gi</string>
				<string>*.google.gl</string>
				<string>*.google.gm</string>
				<string>*.google.gn</string>
				<string>*.google.gov</string>
				<string>*.google.gp</string>
				<string>*.google.gq</string>
				<string>*.google.gr</string>
				<string>*.google.gs</string>
				<string>*.google.gt</string>
				<string>*.google.gu</string>
				<string>*.google.gw</string>
				<string>*.google.gy</string>
				<string>*.google.hk</string>
				<string>*.google.hm</string>
				<string>*.google.hn</string>
				<string>*.google.hr</string>
				<string>*.google.ht</string>
				<string>*.google.hu</string>
				<string>*.google.id</string>
				<string>*.google.ie</string>
				<string>*.google.il</string>
				<string>*.google.in</string>
				<string>*.google.io</string>
				<string>*.google.iq</string>
				<string>*.google.ir</string>
				<string>*.google.is</string>
				<string>*.google.it</string>
				<string>*.google.jm</string>
				<string>*.google.jo</string>
				<string>*.google.jp</string>
				<string>*.google.ke</string>
				<string>*.google.kg</string>
				<string>*.google.kh</string>
				<string>*.google.ki</string>
				<string>*.google.km</string>
				<string>*.google.kn</string>
				<string>*.google.kp</string>
				<string>*.google.kr</string>
				<string>*.google.kw</string>
				<string>*.google.ky</string>
				<string>*.google.kz</string>
				<string>*.google.la</string>
				<string>*.google.lb</string>
				<string>*.google.lc</string>
				<string>*.google.li</string>
				<string>*.google.lk</string>
				<string>*.google.lr</string>
				<string>*.google.ls</string>
				<string>*.google.lt</string>
				<string>*.google.lu</string>
				<string>*.google.lv</string>
				<string>*.google.ly</string>
				<string>*.google.ma</string>
				<string>*.google.mc</string>
				<string>*.google.md</string>
				<string>*.google.mg</string>
				<string>*.google.mh</string>
				<string>*.google.mil</string>
				<string>*.google.mk</string>
				<string>*.google.ml</string>
				<string>*.google.mm</string>
				<string>*.google.mn</string>
				<string>*.google.mo</string>
				<string>*.google.mp</string>
				<string>*.google.mq</string>
				<string>*.google.mr</string>
				<string>*.google.ms</string>
				<string>*.google.mt</string>
				<string>*.google.mu</string>
				<string>*.google.mv</string>
				<string>*.google.mw</string>
				<string>*.google.mx</string>
				<string>*.google.my</string>
				<string>*.google.mz</string>
				<string>*.google.na</string>
				<string>*.google.nc</string>
				<string>*.google.ne</string>
				<string>*.google.net</string>
				<string>*.google.nf</string>
				<string>*.google.ng</string>
				<string>*.google.ni</string>
				<string>*.google.nl</string>
				<string>*.google.no</string>
				<string>*.google.np</string>
				<string>*.google.nr</string>
				<string>*.google.nt</string>
				<string>*.google.nu</string>
				<string>*.google.nz</string>
				<string>*.google.om</string>
				<string>*.google.org</string>
				<string>*.google.pa</string>
				<string>*.google.pe</string>
				<string>*.google.pf</string>
				<string>*.google.pg</string>
				<string>*.google.ph</string>
				<string>*.google.pk</string>
				<string>*.google.pl</string>
				<string>*.google.pm</string>
				<string>*.google.pn</string>
				<string>*.google.pr</string>
				<string>*.google.pt</string>
				<string>*.google.pw</string>
				<string>*.google.py</string>
				<string>*.google.qa</string>
				<string>*.google.re</string>
				<string>*.google.ro</string>
				<string>*.google.ru</string>
				<string>*.google.rw</string>
				<string>*.google.sa</string>
				<string>*.google.sb</string>
				<string>*.google.sc</string>
				<string>*.google.sd</string>
				<string>*.google.se</string>
				<string>*.google.sg</string>
				<string>*.google.sh</string>
				<string>*.google.si</string>
				<string>*.google.sj</string>
				<string>*.google.sk</string>
				<string>*.google.sl</string>
				<string>*.google.sm</string>
				<string>*.google.sn</string>
				<string>*.google.so</string>
				<string>*.google.sr</string>
				<string>*.google.st</string>
				<string>*.google.su</string>
				<string>*.google.sv</string>
				<string>*.google.sy</string>
				<string>*.google.sz</string>
				<string>*.google.tc</string>
				<string>*.google.td</string>
				<string>*.google.tf</string>
				<string>*.google.tg</string>
				<string>*.google.th</string>
				<string>*.google.tj</string>
				<string>*.google.tk</string>
				<string>*.google.tm</string>
				<string>*.google.tn</string>
				<string>*.google.to</string>
				<string>*.google.tp</string>
				<string>*.google.tr</string>
				<string>*.google.tt</string>
				<string>*.google.tv</string>
				<string>*.google.tw</string>
				<string>*.google.tz</string>
				<string>*.google.ua</string>
				<string>*.google.ug</string>
				<string>*.google.uk</string>
				<string>*.google.um</string>
				<string>*.google.us</string>
				<string>*.google.uy</string>
				<string>*.google.uz</string>
				<string>*.google.va</string>
				<string>*.google.vc</string>
				<string>*.google.ve</string>
				<string>*.google.vg</string>
				<string>*.google.vi</string>
				<string>*.google.vn</string>
				<string>*.google.vu</string>
				<string>*.google.wf</string>
				<string>*.google.ws</string>
				<string>*.google.ye</string>
				<string>*.google.yt</string>
				<string>*.google.yu</string>
				<string>*.google.za</string>
				<string>*.google.zm</string>
				<string>*.google.zr</string>
				<string>*.google.zw</string>
				<string>*.google.co.uk</string>
				<string>*.google.com.tr</string>
				<string>*.google.co.kr</string>
				<string>*.google.com.au</string>
				<string>*.google.com.do</string>
				<string>*.google.com.mx</string>
				<string>*.google.com.pk</string>
				<string>*.google.com.tw</string>
				<string>*.google.gob.mx</string>
				<string>*.google.gov.my</string>
				<string>*.google.net.au</string>
				<string>*.google.org.br</string>
				<string>*.google.ac.th</string>
				<string>*.google.co.cr</string>
				<string>*.google.co.cz</string>
				<string>*.google.com.bo</string>
				<string>*.google.com.ec</string>
				<string>*.google.com.my</string>
				<string>*.google.com.pl</string>
				<string>*.google.com.vl</string>
				<string>*.google.gov.au</string>
				<string>*.google.gov.ph</string>
				<string>*.google.net.tr</string>
				<string>*.google.org.mx</string>
				<string>*.google.co.id</string>
				<string>*.google.co.th</string>
				<string>*.google.com.br</string>
				<string>*.google.com.fr</string>
				<string>*.google.com.pa</string>
				<string>*.google.com.py</string>
				<string>*.google.com.vy</string>
				<string>*.google.gov.br</string>
				<string>*.google.gov.sg</string>
				<string>*.google.org.tr</string>
				<string>*.google.co.il</string>
				<string>*.google.co.uk</string>
				<string>*.google.com.cn</string>
				<string>*.google.con.gr</string>
				<string>*.google.com.pe</string>
				<string>*.google.com.sg</string>
				<string>*.google.com.ve</string>
				<string>*.google.gov.co</string>
				<string>*.google.gov.tr</string>
				<string>*.google.org.uk</string>
				<string>*.google.co.jp</string>
				<string>*.google.com.ar</string>
				<string>*.google.com.co</string>
				<string>*.google.com.hk</string>
				<string>*.google.com.vn</string>
				<string>*.google.edu.pk</string>
				<string>mail.google.com</string>
				<string>gmail.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://sites.google.com/site/ilidiomartins/google-ajax-loader/UpdatesGoogleAjaxLoader.plist</string>
</dict>
</plist>
